* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* 
=============================
header section css start here 
=============================

    background: rgba(63, 61, 86, 0.4);
*/

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 80px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header .brand-name {
    font-size: 34px;
    font-weight: bold;
    color: #fff;
    flex: 1;
    cursor: pointer;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
header ul li a {
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    font-size: 16px;
    line-height: 35px;
    padding: 8px 24px;
    font-weight: bold;
}
header nav ul li:nth-child(3) {
    background-color: #3F3D56;
    border-radius: 8px;
    border: 2px solid #f3f3f4;
}
/*
===========================
header section css end here 
===========================
*/

/* 
===========================
hero section css start here 
===========================
*/
.container-hero {
    background: linear-gradient(rgba(63, 61, 86, 1), rgba(63, 61, 86, 0.4)), url(../img/bg-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.container-hero .container-hero-content {
    flex: 1;
    flex-wrap: wrap;
    align-self: center;
}
.container-hero .container-hero-content h1 {
    font-size: 78px;
    font-weight: 600;
    line-height: 68px;
    color: #b9b5dc;
    margin-bottom: 8px;
    letter-spacing: 2px;
}
.container-hero .container-hero-content h4 {
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    color: #f3f3f4;
    margin-bottom: 20px;
    width: 84%;
    margin: auto;
}

.container-hero .container-hero-content button {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #f3f3f4;
    background-color: #3F3D56;
    padding: 8px 24px;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid #f3f3f4;
    cursor: pointer;
    margin-top: 20px;
}
.container-hero .container-hero-content button  a{
    text-decoration: none;
    color: #f3f3f4;
}
.container-hero .container-hero-img {
    flex: 1;
    flex-wrap: wrap;
    align-self: center;
    padding-right: 80px;
}
.container-hero .container-hero-img img {
    width: 100%;
}


/* 
===========================
hero section css start here 
===========================
*/


/* 
=================================
collection section css start here 
=================================
*/















/* 
=============================
footer section css start here 
=============================
*/

footer {
    background: #3F3D56;
    height: 80px;
    text-align: center;
}
footer p {
    line-height: 80px;
    font-size: 16px;
    font-weight: 500;
    color: #f3f3f4;
}

/* 
===========================
footer section css end here 
===========================
*/







/* 
============================
mobile responsive start here 
============================
*/

@media ( max-width: 767px) {
    /* |||||||||  header section   ||||||||| */
    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 6px 10px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }
      header .brand-name {
        font-size: 20px;
        font-weight: blod;
        color: #fff;
      }
      header ul li a {
        color: #fff;
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
        font-size: 12px;
        line-height: 35px;
        padding: 2px 4px;
        font-weight: bold;
      }
      .container-hero {
        height: 100vh;
      }
      .container-hero .container-hero-content h1 {
        font-size: 50px;
        font-weight: 600;
        line-height: 58px;
        color: #b9b5dc;
        margin-bottom: 8px;
        letter-spacing: 2px;
      }
      .container-hero .container-hero-content {
        flex: 1;
        flex-wrap: wrap;
        align-self: center;
        padding-left: 10px;
      }
      .container-hero .container-hero-content h4 {
        font-size: 30px;
        font-weight: 400;
        line-height: 38px;
        color: #f3f3f4;
        margin-bottom: 20px;
        width: 84%;
        margin: auto;
      }
      .container {
        display: flex;
        flex-wrap: wrap;
        align-items: normal;
        justify-content: none;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
        gap: 30px;
        background: #161A1D;
        flex-flow: row;
          flex-direction: row;
        flex-direction: column;
      }
      footer p {
        line-height: 80px;
        font-size: 14px;
        font-weight: 500;
        color: #f3f3f4;
      }

    }      