* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* 
=============================
header section css start here 
=============================
*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 80px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header .brand-name {
    font-size: 34px;
    font-weight: blod;
    color: #fff;
    cursor: pointer;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
header ul li a {
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    font-size: 16px;
    line-height: 35px;
    padding: 8px 24px;
    font-weight: bold;
}
header nav ul li:nth-child(3) {
    background-color: #3F3D56;
    border-radius: 8px;
    border: 2px solid #f3f3f4;
}
/* 
===========================
header section css end here 
===========================
*/

/* 
===========================
hero section css start here 
===========================
*/

.container-hero {
    display: flex;
    flex-wrap: wrap;
    background-color: #0b090a;
    padding-top: 100px;
}
.container-hero .container-hero-content {
    flex: 1;
    flex-wrap: wrap;
    align-self: center;
    padding-left: 80px;
}
.container-hero .container-hero-content h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #f3f3f4;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.container-hero .container-hero-content h1 {
    font-size: 38px;
    font-weight: 600;
    line-height: 68px;
    color: #f3f3f4;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.container-hero .container-hero-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #f3f3f4;
    margin-bottom: 20px;
}
.container-hero .container-hero-content button {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #f3f3f4;
    background-color: #3F3D56;
    padding: 8px 24px;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid #f3f3f4;
    cursor: pointer;
}
.container-hero .container-hero-content button  a{
    text-decoration: none;
    color: #f3f3f4;
}
.container-hero .container-hero-img {
    flex: 1;
    flex-wrap: wrap;
    align-self: center;
    padding-right: 80px;
}
.container-hero .container-hero-img img {
    width: 100%;
}

/* 
===========================
hero section css start here 
===========================
*/
.container-conllection-heading {
    width: 50%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.container-conllection-heading h3 {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    color: #f3f3f4;
    margin: auto;
}

/* 
=================================
collection section css start here 
=================================
*/

.container-collection {
    display: flex;
    flex-wrap: wrap;
    background-color: #0B090A;
}
.container-collection .container-collection-heading {
    margin: auto;
}
.container-collection .container-collection-heading h2 {
    color: #f3f3f4;
    font-size: 32px;
    margin-top: 40px;
}
.container-collection .container-collection-books {
    display: flex;
    flex-wrap: wrap;
    margin-right: 80px;
    margin-left: 80px;
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.container-collection .container-collection-books .collection-book-1{
    flex: 1;
    border: 2px solid #9e9cc2;
}
.collection-book-1 .collection-book-img img {
    width: 100%;
}
.collection-book-1 .collection-book-content {
    padding: 10px;
    border: 2px solid #3F3D56;
    margin: 8px;
    border-radius: 8px;
    transition: 0.5s;
}
.collection-book-1 .collection-book-content:hover {
    background-color: #3f3d5695;
    transition: 0.5s;
}
.collection-book-1 .collection-book-content h5 {
    font-size: 22px;
    font-weight: 500;
    color: #f3f3f4;
    margin-top: 15px;
}
.collection-book-1 .collection-book-content p {
    font-size: 16px;
    font-weight: 500;
    color: #f3f3f4;
    background-color: #3F3D56;
    padding: 4px;
    margin-top: 15px;
    display: inline-block;
}
.collection-book-1 .collection-book-content button {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #f3f3f4;
    background-color: #3F3D56;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid #f3f3f4;
    cursor: pointer;
}
.collection-book-1 .collection-book-content button  a{
    text-decoration: none;
    color: #f3f3f4;
}
/* 
===============================
collection section css end here 
===============================
*/

/* 
=============================
footer section css start here 
=============================
*/

footer {
    background: #3F3D56;
    height: 80px;
    text-align: center;
}
footer p {
    line-height: 80px;
    font-size: 16px;
    font-weight: 500;
    color: #f3f3f4;
}

/* 
===========================
footer section css end here 
===========================
*/




/* 
============================
mobile responsive start here 
============================
*/

@media ( max-width: 767px) {
    /* |||||||||  header section   ||||||||| */
    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 6px 10px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }
      header .brand-name {
        font-size: 20px;
        font-weight: blod;
        color: #fff;
      }
      header ul li a {
        color: #fff;
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
        font-size: 12px;
        line-height: 35px;
        padding: 2px 4px;
        font-weight: bold;
      }
      .container-hero {
        display: flex;
        flex-wrap: wrap;
        background-color: #0b090a;
        padding-top: 100px;
        flex-flow: row;
          flex-direction: row;
        flex-direction: column-reverse;
        align-items: center;
      }
      .container-hero .container-hero-content {
        flex: 1;
        flex-wrap: wrap;
        align-self: center;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
      }
      .container-hero .container-hero-content h4 {
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        color: #f3f3f4;
        margin-bottom: 8px;
        text-transform: uppercase;
      }
      .container-hero .container-hero-content h1 {
        font-size: 24px;
        font-weight: 600;
        line-height: 38px;
        color: #f3f3f4;
        margin-bottom: 8px;
        text-transform: uppercase;
      }
      .container-hero .container-hero-content p {
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        color: #f3f3f4;
        margin-bottom: 20px;
      }
      .container-hero .container-hero-img {
        flex: 1;
        flex-wrap: wrap;
        align-self: center;
        padding-right: 10px;
        padding-left: 10px;
      }
      .container-collection .container-collection-books {
        display: flex;
        flex-wrap: wrap;
        margin-right: 10px;
        margin-left: 10px;
        row-gap: 30px;
        margin-top: 60px;
        margin-bottom: 60px;
        flex-flow: row;
          flex-direction: row;
        flex-direction: column;
      }
      footer p {
        line-height: 80px;
        font-size: 14px;
        font-weight: 500;
        color: #f3f3f4;
      }
}